/* variaveis e cores*/
:root{
    --violeta: #8a2be2;
    --cinza: #cccccc;
}

/* esconder o primeiro input*/
.estrelas input[type=radio]{

    display: none;

}

/* colorir as estrelas */

.estrelas label i.opção.fa:before{
    content: '\f005';
    color: var(--violeta);
} 
/* cor cinza*/
.estrelas input[type=radio]:checked~label i.fa::before{
    color: var(--cinza);
}

.estrela-preenchida{
    color: var(--violeta);
}

.estrela-vazia{
    color: var(--cinza);
}