@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');
 
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #0d0369 16.62%, #565564 85.61%);
    align-content: center;

}
.titulo{
    text-align: center;
    color: white;
    font-size: 50px;
    padding: 20px;
}
.corpo{
    text-align: center;
    background-color: white;
    margin: 0 35% ;
    border-radius: 40px;
    padding: 10px;
    box-shadow: 0 10px 40px rgba(159, 162, 177, 0.8);
}